<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jin.mapper.AccountMapper">
    <!-- 映射配置文件增加cache节点配置 -->
    <cache/>
    <sql id="selectAll">
        select id, name, balance, status, create_date, update_date
        from jdbc_account
    </sql>

    <select id="selectById" parameterType="long" resultType="Account">
        <include refid="selectAll"/>
        where id = #{id}
    </select>

    <insert id="insert" parameterType="Account">
        <!-- selectKey用于获取插入数据的主键，只能用于MySql数据库 -->
        <selectKey resultType="long" order="AFTER" keyProperty="id" keyColumn="id">
            select last_insert_id()
        </selectKey>
        insert into jdbc_account values(null, #{name}, #{balance}, #{status}, now(), now())
    </insert>

    <update id="update" parameterType="Account">
        update jdbc_account
        set name        = #{name},
            balance     = #{balance},
            status      = #{status},
            update_date = now()
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        delete
        from jdbc_account
        where id = #{id}
    </delete>

    <!--  参数复杂的项目中不推荐使用map参数类型  -->
    <select id="selectByPage" parameterType="map" resultType="Account">
        <include refid="selectAll"/>
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        limit #{startIndex}, #{pageSize}
    </select>

    <select id="selectByQueryVO" parameterType="QueryVO" resultType="Account">
        <include refid="selectAll"/>
        where 1 = 1
        <if test="condition.status != null">
            and status = #{condition.status}
        </if>
        limit #{offset}, #{pageSize}
    </select>

    <select id="selectByStatus" parameterType="integer" resultType="Account">
        <include refid="selectAll"/>
        <if test="status != null">
            where status = #{status}
        </if>
    </select>

    <select id="selectByStatusAndName" parameterType="Account" resultType="Account">
        <include refid="selectAll"/>
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
        </where>
    </select>

    <delete id="deleteByIds" parameterType="long">
        delete
        from jdbc_account
        where id in (
            <foreach collection="list" item="id" separator=",">
                #{id}
            </foreach>
        );
    </delete>
</mapper>